<%= form_for @kilo_offer do |f| %>
  <%= render 'shared/error_messages', object: @kilo_offer %>

  <div class="card mb-3">
    <div class="card-header"><%= t('shipping_requests.form.route') %></div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.label :departure_city, t('common.departure_city') %>
          <%= f.text_field :departure_city, class: "form-control", required: true %>
        </div>
        <div class="form-group col-md-6">
          <%= f.label :departure_country, t('common.departure_country') %>
          <%= f.text_field :departure_country, class: "form-control", required: true %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.label :arrival_city, t('common.arrival_city') %>
          <%= f.text_field :arrival_city, class: "form-control", required: true %>
        </div>
        <div class="form-group col-md-6">
          <%= f.label :arrival_country, t('common.arrival_country') %>
          <%= f.text_field :arrival_country, class: "form-control", required: true %>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header"><%= t('kilo_offers.form.details') %></div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-4">
          <%= f.label :travel_date, t('common.travel_date') %>
          <%= f.date_field :travel_date, class: "form-control", required: true %>
        </div>
        <div class="form-group col-md-4">
          <%= f.label :available_kg, t('common.available_kg') %>
          <%= f.number_field :available_kg, class: "form-control", min: 0.1, step: 0.1, required: true %>
        </div>
        <div class="form-group col-md-4">
          <%= f.label :price_per_kg_cents, t('bids.price_per_kg_cents') %>
          <%= f.number_field :price_per_kg_cents, class: "form-control", min: 1, required: true %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.label :flight_number, t('common.flight_number') %>
          <%= f.text_field :flight_number, class: "form-control" %>
        </div>
        <div class="form-group col-md-6">
          <%= f.label :currency, t('common.currency') %>
          <%= f.select :currency, %w[EUR USD GBP XOF XAF], {}, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :accepted_items, t('kilo_offers.accepted_items') %>
        <%= f.text_area :accepted_items, class: "form-control", rows: 2 %>
      </div>
      <div class="form-group">
        <%= f.label :restrictions, t('kilo_offers.restrictions') %>
        <%= f.text_area :restrictions, class: "form-control", rows: 2 %>
      </div>
    </div>
  </div>

  <%= f.submit (@kilo_offer.persisted? ? t('common.edit') : t('kilo_offers.publish')), class: "btn btn-primary btn-lg btn-block" %>
<% end %>
