<div class="container mt-4">
  <h1><%= t('kilo_offers.index.title') %></h1>
  <p class="lead"><%= t('kilo_offers.index.subtitle') %></p>

  <div class="card mb-4">
    <div class="card-body">
      <%= form_tag kilo_offers_path, method: :get, class: "form-inline" do %>
        <div class="form-group mr-2 mb-2">
          <%= text_field_tag :departure_city, params[:departure_city], class: "form-control", placeholder: t('common.departure_city') %>
        </div>
        <div class="form-group mr-2 mb-2">
          <%= text_field_tag :arrival_city, params[:arrival_city], class: "form-control", placeholder: t('common.arrival_city') %>
        </div>
        <div class="form-group mr-2 mb-2">
          <%= number_field_tag :min_kg, params[:min_kg], class: "form-control", placeholder: t('common.min_kg'), min: 0, step: 0.1 %>
        </div>
        <%= submit_tag t('common.search'), class: "btn btn-primary mb-2" %>
      <% end %>
    </div>
  </div>

  <%= link_to t('kilo_offers.new_offer'), new_kilo_offer_path, class: "btn btn-success mb-3" %>

  <div class="row">
    <% @kilo_offers.each do |offer| %>
      <div class="col-md-6 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <i class="fa fa-plane"></i>
              <%= offer.departure_city %> &rarr; <%= offer.arrival_city %>
            </h5>
            <p class="card-text">
              <strong><%= offer.available_kg %> kg</strong> <%= t('common.available') %>
              <br>
              <strong><%= number_to_currency(offer.price_per_kg, unit: "€") %></strong> / kg
              <br>
              <i class="fa fa-calendar"></i> <%= l(offer.travel_date, format: :long) %>
              <% if offer.flight_number.present? %>
                <br><i class="fa fa-plane"></i> <%= t('common.flight') %> <%= offer.flight_number %>
              <% end %>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <small class="text-muted">
                  <%= offer.traveler.name %>
                  <% if offer.traveler.verified? %>
                    <span class="badge badge-primary"><i class="fa fa-check"></i></span>
                  <% end %>
                  &bull; <i class="fa fa-star"></i> <%= offer.traveler.average_rating %>/5
                </small>
              </div>
              <%= link_to t('common.view_details'), kilo_offer_path(offer), class: "btn btn-outline-primary btn-sm" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= will_paginate @kilo_offers %>
</div>
