<fieldset>
    <legend><%= "Bagage #{b}" %></legend>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Cm</span>
          <%= f.text_field :longueur, placeholder: 'Longueur', class: 'form-control' %>
        </div><br/>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">Cm</span>
          <%= f.text_field :largeur, placeholder: 'Largeur', class: 'form-control' %>
        </div><br/>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3">Cm</span>
          <%= f.text_field :hauteur, placeholder: 'Hauteur', class: 'form-control' %>
        </div><br/>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon4">Kg</span>
          <%= f.text_field :poids, placeholder: 'Poids', class: 'form-control' %>
        </div><br/>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon5">€</span>
      <%= f.text_field :prix, placeholder: 'Prix', class: 'form-control' %>
      <span class="input-group-addon">.00</span>
    </div><br/>
</fieldset>