<% content_for(:after_js) do %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GGL_MAP_JS_BROWSER_API_KEY']}" %>
<% end %>

<div class="container mt-4">
  <div id="map-container">
    <div id="map-canvas" style="height: 300px;"></div>
  </div>

  <h1 class="mt-4"><%= t('search.title', default: 'Available flights') %></h1>

  <%= will_paginate @coordonnees, renderer: BootstrapPagination::Rails %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= t('search.name', default: 'Name') %></th>
        <th><%= t('search.ref', default: 'Ref #') %></th>
        <th><%= t('search.flight_number', default: 'Flight #') %></th>
        <th><%= t('search.departure', default: 'Departure') %></th>
        <th><%= t('search.arrival', default: 'Arrival') %></th>
        <th><%= t('search.nb_bagages', default: 'Bags') %></th>
        <th><%= t('search.weight', default: 'Weight') %></th>
        <th><%= t('search.volume', default: 'Volume') %></th>
        <th><%= t('search.price', default: 'Price') %></th>
      </tr>
    </thead>
    <tbody>
      <% @flights_data.each do |data| %>
        <tr>
          <td><%= link_to data[:user].name, booking_path(data[:booking]) %></td>
          <td><%= data[:booking].ref_number %></td>
          <td><%= data[:vol].num_vol %></td>
          <td><%= data[:departure]&.location %></td>
          <td><%= data[:arrival]&.location %></td>
          <td><%= data[:nb_bagages] %></td>
          <td><%= data[:poids] %> kg</td>
          <td><%= data[:volume] %> cm&sup3;</td>
          <td><%= number_to_currency(data[:prix], unit: "\u20AC") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @coordonnees, renderer: BootstrapPagination::Rails %>
</div>

<script>
  var handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map-canvas'}}, function(){
    markers = handler.addMarkers(<%= json_escape(@markers.to_json).html_safe %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    if (markers.length == 0) {
      handler.getMap().setZoom(2);
    } else if (markers.length == 1) {
      handler.getMap().setZoom(14);
    }
  });
</script>
